<!-- Footer -->
{{ $data := index .Site.Data .Site.Language.Lang }}
<footer id="footer">
  <section>
    <h2>Contact the Coaches</h2>
    <section class="alt">
      <h3>Kim Geibel</h3>
      <p><a href="mailto:geibelk@ogdensd.org">geibelk@ogdensd.org</a></p>
    </section>
    <section class="alt">
      <h3>Bret Ferrier</h3>
      <p><a href="mailto:ferrierb@ogdensd.org">ferrierb@ogdensd.org</a></p>
    </section>
  </section>
  <section>
    <h2>Get Notified about runs</h2>
    <p>We will be using the "Band" app to notify kids of our running plans during the summer.
      It is a school district approved app for communicating with teams.
    </p>
    <section class="alt">
      <h3>Band Team Link</h3>
      <p><a href="https://band.us/n/a5aa81Wf2de6B">https://band.us/n/a5aa81Wf2de6B</a></p>
    </section>

  </section>
</footer>
